.container{
    margin: auto;
    width: 350px;
    background-color: #a1cb88;

}
.Balance{
    text-emphasis: none;
    letter-spacing: 1px;
    padding-left: 5%;

}
h1{
  margin-top: -20%;
  background-color: #ff9800;
}
.head1{
    margin-top: -5%;
    color: #4caf50
}
.head1:hover{
  background-color: #ff9800;
  color: black;
}
.AccSumm {
    background-color: #e0e0e0;
    box-shadow: var(--box-shadow);
    padding: 0px;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    border: 2px solid #ff9800;
    padding: 20px;
    height: 65px
  }
  
  .AccSumm > div {
    flex: 1;
    text-align: center;
  }
  
  .AccSumm > div:first-of-type {
    border-right: 1px solid #ff9800;
    color: black;    
   
  }
.money.plus {
    color: #168b4b;
    font-weight: bold;
    margin-top: -1%;
    padding: 0%;
    font-weight: bold;
    font-size: 18px;

     }
  .money.plus:hover{
    background-color: #ff9800;
    color: Black
  }
  .money.minus {
    color: #dd2c00;
    margin-top: -2%;  
    font-weight: bold;
    font-size: 18px;
  }
  .money.minus:hover{
    background-color: #ff9800;
    color: black;
  }
  .historyh4{
      text-align: center;
      padding: 2% 2% 0 5%;
      color: #dd2c00;
      height: 20%;
  
  }
  .historyh4:hover{
      background-color: #ff9800;
      color: black
      
  }
  .AddTransaction{
      text-align: center;
      flex: 1;
      padding: 2% 2% 0 5%;   
      margin-bottom: 5%;
      background-color: #ff9800;
      color: black;
  }
  
  .btn {
    cursor: pointer;
    background-color: #0288d1;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    font-weight: bold;
  }
  
  .btn:focus
  {
    outline: 5px;
  }
  .btn:hover{
    background-color: #ff9800;
    color:black;
  }
  input[type='tel'] {
    border: 1px solid #dedede;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 94%;
  }
  input[type='text'] {
    border: 1px solid #dedede;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 94%;
  }
  .transaction-select{
    border: 1px solid #dedede;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 10px #ff9800;
  }
  
.delete-button{
  font-weight: bold;
  cursor: pointer;
  background-color:#2ecc71 ;
  
  
}
  .delete-buttontn:focus {
    outline: 5px;
  }
    .delete-button:hover{
      background-color: red;
      color: black;
    }
    

    .history-ul{
        list-style-type: none;
        padding: 0;
        margin-bottom: 40px;
      
    }
    .history-ul li{
      background-color: #fff;
      box-shadow: var(--box-shadow);
      color: #333;
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: 8px;
      margin: 10px 0;
      height: 5%;
      font-weight: bold;
      
    }
    li.minus{
      border-right: 5px solid #c0392b;
    }
     li.plus{
      border-right: 5px solid #2ecc71;
    }
    body{
      background-image: url('./components/background/image.png');
      width: auto;
      background-repeat: round ;
    }
